
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 90px;



}

article {
    margin: 5% 25% 5% 25%;
    flex-grow: 1;

}


footer {
    box-sizing: border-box;
    text-align: center;
    height: 90px;
    color: white;
    background: #414042;
    padding: 25px 0 0 0;
}

footer article {
    display: flex;
}

header {
    display: flex;
    align-items: center;
    background: #414042;
    width: 100%;
    height: auto;
    min-height: 100px;
    color: white;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}



.images {
    height: 150px;
    width: 150px;
}

.nav-button {
    background-color: transparent;
    border: none;
    padding: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    display: flex;
    align-items: center;
}







